body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 10px;
  background-color: black;
  width: 400px;
  border-radius: 15px;
  margin-left: 100px;
  margin-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-img-top {
  height: 400px;
}
.links {
  text-decoration: none;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
}
.p-of-about {
  width: 500px;
  margin-top: 150px;
  border: 7px solid black;
  border-radius: 15px;
  margin-left: 100px;
  background-color: white;
}
